CAPTCHA_KEY=""
GRAYLOG_HOST=""
PRODUCTION_MODE="false"
SERVER_ROOT="https://modelvi.com"
IMAGE_ROOT="https://modelvi.com"
CONSOLE_LOG="true"
BOT_PATH="dist/bot.js"
DISCORD_WEBHOOK_NOTIFY=""
DISCORD_WEBHOOK_ERROR=""
CONSOLE_SCHEDULE_INTERVAL=30000

DISCORD_ERROR_F2F=""
